.settings{
  @media screen and (max-width: $mdScreen) {
    margin: 0 -8px;
  }
  &__title{
    margin-bottom: 12px;
  }
  &__hint{
    margin-bottom: 40px;
  }
  &__body{
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: $mdScreen) {
      flex-direction: column;
    }
  }
  &__content{
    font-size: 11px;
    line-height: 1.3;
    color: $mainTextColor;
    text-transform: uppercase;
    padding-right: 38px;
    width: 40%;
    @media screen and (max-width: $mdScreen) {
      margin-bottom: 16px;
    }
  }
  &__form{
    flex-grow: 1;
    @media screen and (max-width: $mdScreen) {
      width: 100%;
    }
  }
}